<ion-view style="" id="page14" title="Electronic Devices">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <div style="">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/3u5SOf5zSgubHa4beZQj_download (2).jpeg" height="auto" width="100%">
            </div>
            <label style="" class="item item-select">
                <span class="input-label">Select</span>
                <select>
                    <option>Android</option>
                    <option>ios</option>
                </select>
            </label>
        </form>
        <form style="" class="list">
            <div style="">
                <a href="tel:" style="display:block;">
                    <img style="display:block;" src="img/HCIXjXTsmkXZBSIHsvQ3_tablets.jpg" height="auto" width="100%">
                </a>
            </div>
            <div style="">
                <a href="tel:" style="display:block;">
                    <img style="display:block;" src="img/HCIXjXTsmkXZBSIHsvQ3_tablets.jpg" height="auto" width="100%">
                </a>
            </div>
            <label style="" class="item item-select">
                <span class="input-label">Select</span>
                <select>
                    <option>Android</option>
                    <option>ios</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Select</span>
                <select>
                    <option>Android</option>
                    <option>ios</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>