<ion-view view-title="M Cart">
    <ion-content class="note-listing">
        <div class="row">
            <div class="col">
                <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">

                </ion-refresher>
                <ion-list ng-controller="">
                    <ion-item ui-sref="app.SingleProduct({id:item.$id})"
                              class="item-thumbnail-left" ng-repeat="item in Favproducts">
                        <img src={{item.img}}>
                        <p>{{item.title}}</p>

                        <span am-time-ago="item.date"></span>  
                    </ion-item>
                    <div style="width: 300px; height: 10px;" class="spacer"></div>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>